body {

  color: #171717;
}

.jumbotron {
  padding:180px 180px;
  background-image: url("https://i.ibb.co/XbNZ2K7/UI-Banner-Logo.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size:cover;
  position: relative;
  height: 100%;
  color: white;
}

